$font-family: 'Roboto', 'Helvetica', 'Noto Sans JP', sans-serif;
$font-size-normal: 16px;
$font-size-large: 20px;
$font-size-small: 12px;
$font-color-thin: hsl(0, 0%, 50%);
$card-max-width: 640px;
$card-spacing: 24px;
$pagination-max-width: $card-max-width + 200px;
$primary-color: hsl(339, 82%, 51%);
$accent-color: hsl(150, 81%, 67%);
$accent-color--hover: hsl(150, 81%, 50%);
$star-color: hsl(55, 95%, 50%)